.container {
  width: 25%;
  height: 70%;
  border: 1px solid black;
}

.screen {
  width: 100%;
  height: 15%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
}

.btnBox {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.btn {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
